#myInput {
	width: 110%;
	margin-left: 1px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #f7b733;
}

#myInput2 {
	width: 110%;
	margin-left: 1px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #f7b733;
}
#feedbackform {
    color: yellow;
    font-size: 20px;
    /*animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;*/
}

.navbar-inverse {
    background-color: #77C9D4;
    border-color: #015249;
}



/*@keyframes example {
    from {color: Cyan;}
    to {color: white;}
}*/
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
#map {
	width: 100%;
	height: 646px;
	background-color: grey;
	border-style: solid;
	border-width: 2px;
	border-color: #f7b733;
}

#legend {
	font-family: Arial, sans-serif;
	background: #fff;
	padding: 10px;
	margin: 10px;
	border: 3px solid #000;
	height: 98px;
	width: 194px;
	/*overflow: auto; */
}
#legend h3 {
	margin-top: 0;
	font-size: 15px;
	font-weight: bold;
}
#legend img {
	vertical-align: middle;
	height: 25%;
	width: 25%;
}

#results_body {
	height: 489px;
    max-height: 489px;
    overflow-y: scroll;
    width: 100%;
}

#resultsbtn1, #resultsbtn1li1, #resultsbtn1li2, #resultsbtn1li3, #resultsbtn2, #resultsbtn2li1, #resultsbtn2li2, #resultsbtn2li3, #resultsbtn3, #resultsbtn3li1, #resultsbtn3li2, #resultsbtn3li3 {
	display: none;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
#panelmain {
	border-color: orange;
	color: orange;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

#calculate {
	/*width: 110%;
	margin-left: 1px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #f7b733;*/
	width: 110%;
	margin-left: 1px;
	margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

/*#calculate {
	border-style: solid;
	border-width: 5px;
	border-color: orange;
}

#myinput2 {
	width: 100%;
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: orange;
}*/

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.loader {
	display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}