<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/busico.png">
	<link rel="icon" href="../favicon.ico" type="image/x-icon" />
	<!--including introjs.css" -->
	<link href="/static/css/introjs.css" rel="stylesheet" type="text/css">
	<link href="/static/css/index.css" rel="stylesheet" type="text/css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118567294-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-118567294-1');
	</script>

	<title>FastTrack</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	<script type=text/javascript>
 	 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>
	<script src="/static/js/plotroutes.js"></script>

	<script src="/static/js/intro.js"></script>

	<script src="/static/js/starttutorial.js"></script>

	<script src="/static/js/resultsbuttons.js"></script>

	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-inverse" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>    
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			        <li><a id = "step1" href="https://princetonfasttrack.herokuapp.com/">FastTrack</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-center">
			        <li><a href="https://goo.gl/forms/zsNMoEaVVvpxOM1l2" id = "feedbackform">Click to leave your anonymous feedback!</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li><a href="#" onclick=starttutorial();>FastTrack Tutorial</a></li>
					<li><a href="https://bidotair.github.io/Fast-Track/">About FastTrack</a></li>
				</ul>
			  </div>
			</nav>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<form autocomplete="off" >
				  <div class="autocomplete" style="width:200px;">
				  	<div class="input-group mb-3">
					  <div class="input-group-prepend">
					  </div>
					  <input type="text" id="myInput" class="form-control" placeholder="Using your location" aria-label="Using your location" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					  </div>
					  <input type="text" id="myInput2" class="form-control" placeholder="Enter Destination" aria-label="Enter Destination" aria-describedby="basic-addon1">
					</div>
				    <button id = "calculate" type="button" class="btn btn-warning">Submit</button>
				  </div>			  
				</form>

				<div class="panel  panel-warning" id = "panelmain">
					<div class="panel-heading" overflow: hidden;> <u><b>Results Fastest to Slowest:</b></u></div>
					<div class="panel-body" id = "results_body" max-height: 6;overflow-y: scroll;>
						<div class="loader" id = "loaderelement"></div>
						<button type="button" class="btn btn-primary btn-block" href="#collapseExample0" data-toggle="collapse" id = "resultsbtn1"  onclick="resultsbtnfunction(0)"></button>
						<div class="collapse" id="collapseExample0">
							<ul class="list-group">
								<li class="list-group-item list-group-item-warning" id = "resultsbtn1li1"></li>
								<li class="list-group-item list-group-item-info" id = "resultsbtn1li2"></li>
								<li class="list-group-item list-group-item-success" id = "resultsbtn1li3"></li>
								
							</ul>
						</div>

						<button type="button" class="btn btn-primary btn-block" href="#collapseExample1" data-toggle="collapse" id = "resultsbtn2"  onclick="resultsbtnfunction(1)"></button>
						<div class="collapse" id="collapseExample1">
							<ul class="list-group">
								<li class="list-group-item list-group-item-warning" id = "resultsbtn2li1"></li>
								<li class="list-group-item list-group-item-info" id = "resultsbtn2li2"></li>
								<li class="list-group-item list-group-item-success" id = "resultsbtn2li3"></li>
								
							</ul>
						</div>

						<button type="button" class="btn btn-primary btn-block" href="#collapseExample2" data-toggle="collapse" id = "resultsbtn3"  onclick="resultsbtnfunction(2)"></button>
						<div class="collapse" id="collapseExample2">
							<ul class="list-group">
								<li class="list-group-item list-group-item-warning" id = "resultsbtn3li1"></li>
								<li class="list-group-item list-group-item-info" id = "resultsbtn3li2"></li>
								<li class="list-group-item list-group-item-success" id = "resultsbtn3li3"></li>
							</ul>
						</div>
					</div>
				</div>

            </div>
			<div class="col-sm-10">
				<div id="map"></div>
				<div id="legend"><h3>Legend</h3></div>

				<script src="/static/js/generatemap.js"></script>
				
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpp8voCHf0PvvD46oNJUQCj4xxhvXcN9U&libraries=geometry&callback=initMap">
			    </script>
				<br>
			</div>
		</div>
	</div>
	<script src="/static/js/autocomplete.js"></script>
</body>
</html>
